// -
    options - объект с параметрами пагинации
    options.count - количество страниц
    options.count - номер текущей страницы


mixin pagination(options)
    .pagination
        ul.pagination__list
            - var i = 1
            while i <= options.count
                if (i === options.current)
                    li.pagination__item
                        a.pagination__link.pagination__link--current= i
                else
                    li.pagination__item
                        a.pagination__link(href="/mock-address/change-me")= i

                - i++
        -
            var from = (options.current - 1) * 12 + 1
            var to = options.current * 12
            var total = (options.count - 1) * 12
            var totalStr = (total > 100) ? '100+' : `${total}+`
        p.pagination__text= `${from} - ${to} из ${totalStr} вариантов аренды`
