include ../input/input
include ../button/button
include ../radio/radio
include ../toggler/toggler

include ../dropdown/dropdown
include ../calendar/calendar



mixin modal(options)
    //- options.type - find-apartments"/"room-booking"/"sign-up"/"sign-in"
        - позволяет выбрать какое модальное окно необходимо добавить -


    if options.type === "find-apartments"
        .modal
            b.modal__heading Найдём номера под ваши пожелания
            form(
                class="modal__form"
                id="find-form"
                action='/mock-address/change-me'
                autocomplete="off"
                method="get"
                target="_self"
                name="find"
                )
                .modal__calendar-box
                    +calendar({
                        dataMode: "two-fields-range",
                        items: [
                            {labelText: "Прибытие", type: "start"},
                            {labelText: "Выезд", type: "end"}]
                    })
                .modal__dropdown
                    +dropdown({
                        mode: 'persons',
                    })
                .modal__button
                     +button({
                        text: 'Подобрать номер',
                        fillingStyle: 'filled',
                        widthStyle: 'full',
                         withArrow: true
                    })



    else if options.type === "room-booking"
        .modal
            .modal__room-info
                h3
                    span №
                    span=options.info.roomNumber
                if (options.info.isLuxury)
                    span.modal__luxury-flag люкс
                span.modal__price-text
                    span.modal__price= options.info.roomCost + '₽'
                    span в сутки
            form(
                class="modal__form"
                id="room-booking-form"
                action='/mock-address/change-me'
                autocomplete="off"
                method="post"
                target="_self"
                name="booking"
            )
                .modal__calendar-box
                    +calendar({
                        dataMode: "two-fields-range",
                        items: [
                            {labelText: "Прибытие", type: "start"},
                            {labelText: "Выезд", type: "end"}]
                    })
                .modal__dropdown
                    +dropdown({
                        mode: 'persons',
                    })
                .modal__price-estimation
                    div
                        span= options.info.roomCost + '₽ ' + "* X суток"
                        span Сам считай
                    div
                        span Сбор за услуги: скидка 2 179₽
                        span.modal__tooltip(title="Я подсказка" tabindex="0")= '!'
                        span 0₽
                    div
                        span Сбор за дополнительные услуги
                        span.modal__tooltip(title="Я другая подсказка" tabindex="0")= '!'
                        span 300₽
                    div
                        span Итого
                        span
                        span 1.5₿
                .modal__button
                    +button({
                        text: 'Забронировать',
                        fillingStyle: 'filled',
                        widthStyle: 'full',
                        withArrow: true
                    })



    else if options.type === "sign-up"
        .modal
            b.modal__heading Регистрация аккаунта
            form(
                class="modal__form"
                id="sign-up-form"
                action='/mock-address/change-me'
                autocomplete="off"
                method="post"
                target="_self"
                name="sign-up"
            )
                .modal__input
                    +input({
                        type: "text",
                        placeholder: "Имя"
                    })
                .modal__input
                    +input({
                        type: "text",
                        placeholder: "Фамилия"
                    })
                .modal__radio
                    +radio({
                        name: "gender",
                        items: [{
                            text: 'Мужчина',
                            value: 'man'
                        }, {
                            text: 'Женщина',
                            value: 'woman'
                        }]}
                        )
                +calendar({
                    dataMode: "one-field",
                    items: [{labelText: "Дата рождения", type: "start"}]
                })
                .modal__entry-data-box
                    p.modal__entry-data-title.
                        Данные для входа в сервис
                    .modal__input
                        +input({
                            type: "email",
                            placeholder: "Email"
                        })
                    .modal__input
                        +input({
                            type: "password",
                            placeholder: "Пароль"
                        })
                    .modal__toggler
                        +toggler({
                            text: "Получать спецпредложения",
                            value: "Get-subscribe"
                        })
                .modal__button
                    +button({
                        text: 'Зарегистрироваться',
                        fillingStyle: 'filled',
                        widthStyle: 'full',
                        withArrow: true
                    })
                .modal__bottom-link-wrapper
                    p.modal__text Нет аккаунта на Toxin?
                    +button({
                        href: './sign-up.html',
                        text: 'Создать',
                        fillingStyle: 'hollow',
                        widthStyle: 'fit'
                    })



    else if options.type === "sign-in"
        .modal
            b.modal__heading Войти
            form(
                class="modal__form"
                id="sign-in-form"
                action='/mock-address/change-me'
                autocomplete="off"
                method="post"
                target="_self"
                name="sign-in"
            )
                .modal__input
                    +input({
                        type: "email",
                        placeholder: "Email"
                    })
                .modal__input
                    +input({
                        type: "password",
                        placeholder: "Пароль"
                    })
                .modal__button
                    +button({
                        text: 'Войти',
                        fillingStyle: 'filled',
                        widthStyle: 'full',
                        withArrow: true
                    })
                .modal__bottom-link-wrapper
                    p.modal__text Нет аккаунта на Toxin?
                    +button({
                        href: './sign-up.html',
                        text: 'Создать',
                        fillingStyle: 'hollow',
                        widthStyle: 'fit'
                    })


