include ../like-button/like-button

// -
    options.avatar - ссылка на аву
    options.likesCount - количество лайков
    options.firstName - имя автора отзыва
    options.sureName - фамилия автора отзыва
    options.timePassed - время, прошедшее с публикации отзыва
    options.text - текст отзыва

mixin testimonial(options)
    article.testimonial
        .testimonial__wrapper--left
            img.testimonial__avatar(src=options.avatar)
            +like-button({value: options.likesCount})
        .testimonial__wrapper--right
            h4.testimonial__name= `${options.firstName} ${options.sureName}`
            span.testimonial__time= `${options.timePassed}`
            p.testimonial__text= `${options.text}`